@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt,dd, ul, ol,li, pre,button, fieldset, form,  input, legend,  td, textarea, th{margin: 0;padding: 0;}
body, button, input, select, textarea {font-family:Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;}
a{text-decoration: none;}
ul, ol{list-style: none;}
body,html{font-size: 62.5%;width: 100%;height: 100%;min-width: 320px;background: #fff;}
html { -webkit-text-size-adjust: none; }
i,b{font-style:normal;}
.clear{clear:both;}
.fl{float: left;}
.fr{float: right;}
.al {text-align:left;}
.ac {text-align:center;}
.ar {text-align:right;}
table{border-collapse: collapse; border-spacing: 0;}
img {border: 0;vertical-align: middle;}
label,button {cursor: pointer;}
.hide, .none {display: none;}
.clearfix:after {visibility: hidden;clear: both;display: block;content: ".";height: 0;}
.clearfix {*zoom: 1;}
.absolute {position: absolute; }
.relative {position: relative; }
.fixed{position: fixed; }
.hidden {overflow: hidden; }
.inBlock{ display: inline-block; }
.f5{background: #ff5000;}
.ff{background: #fff;}
.banr2{height: 5px;background: #eeeef3;}
.banr3{height: 10px;background: #eeeef3;}


/*主页*/
header{background: #ff5000;width:100%;padding:8px 4%;left:0;top:0;z-index: 100;}
header .container{padding: 0;}
#home{height:28px;width: 100%;line-height: 27px;}
#home li{float: left;}
#home .h_city{width: 18.8%;font-size:15px;color:#fff;}
#home .h_city img{width:17px;height: 10px;padding-left:4px;}
#home .h_search{width: 69.6%;background:#fff url("../images/h_search.png") no-repeat 10px center;background-size:14px 12px ;padding-left:8%;border-radius:13px;}
#home .h_search input{border:none;font-size:13px;height:22px;line-height: 22px;outline: none;width:96%;text-indent: 5px;}
#home .h_massage{width:11.6%;}
#home .h_massage img{width:25px;float:right;}
#kong{height:44px;}
#kong3{height:70px;}
#kong4{height:93px;}



/*尾部区 footer*/
#kong2,#kong5{height:50px;}
footer{z-index:100;width:100%;font-size:0;bottom:0;background: #fff;border-top: 1px solid #e1e1e1;}
footer a{display:inline-block;padding-top:5px;text-align: center;}
footer a img{width:25px;}
footer a .zy{color:#ff5000;}
footer a span{display:block;color:#ccc;height:18px;line-height:18px;font-size:12px;}
footer a span:hover{color:#fa6400;}
footer .m_count{top: 3px;right: 0;color: #fff;background: #ff5000;display: block;border-radius:3px;width:20px;line-height: 12px;height: 12px;}


/*遮罩部分*/
.bj_Mask{position: fixed;left: 0; top: 0; z-index: 100; width: 100%;height: 100%; background: url(../images/zhezhao.png) left top;display: none;}
.bj_Mask .bj_tc{height: 330px;border-radius: 13px;margin: 30% 4%;background: #fff;text-align: center;}
.bj_Mask .bj_tc .suo{padding-top: 25px;}
.bj_Mask .bj_tc p{font-size: 19px;color:#333;height: 68px;line-height: 68px;font-weight: bold;}
.bj_Mask .bj_tc .psd{background: #e6e6e6;height: 48px;border: 1px solid #ccc; margin: 0 7%;}
.bj_Mask .bj_tc .psd input{width: 100%;height: 46px;line-height: 46px;border: none;outline: none;text-align: center;background: #e6e6e6;font-size: 18px;}
.bj_Mask .bj_tc .btn2{border:none;outline:none;border-radius:8px;margin-top: 30px;background: #ff5000;color: #fff;font-size: 17px;letter-spacing: 3px;padding: 6px 20%;}
.bj_Mask .m_cancel{background: #ff5000;height: 60px;line-height: 60px;margin-top: 17px;border-bottom-left-radius: 13px;border-bottom-right-radius: 13px;}
.bj_Mask .m_cancel a{display:block;font-size: 18px;color:#fff;letter-spacing: 3px;}
.bj_Mask .m_cancel .canc01{border-right: 1px solid #fff;height: 60px;}
.bj_Mask .rem_m{height: 35px;line-height: 35px;padding:2px 12%;}
.bj_Mask .rem_m li{text-align:center;float: left;width:45%;height: 35px;background: #ff5000;border-radius: 5px; }
.bj_Mask .rem_m li a{color:#fff;}


@media only screen and (min-width : 768px) {
    .banner_t2 .stat2 .m_del2 .btn{padding: 6px 65px;}
    .banner_t2 .h_sy{top: 50px; right:100px;}
    .container{width: 100%;}
    .banner_t7 .bt .row1 .row{height: 50px;line-height: 50px;}
    .banner_t7 .col-xs-4{width: 15%;}
    .banner_t7 .col-xs-8{width: 85%;}
    .banner_t7 .row1 .gain{line-height: 50px;font-size: 16px;}
}
@media only screen and (min-width :320px) {
    .m_con2{width: 40%;}
    .m_con3{width: 26.6%;}
}