@charset "utf-8";
/*主页*/
#banner img{width:100%;display: block;}
#banner2{border-radius: 0 0 1rem 1rem; }
#banner2 .bannertop{height:1.5rem;width:100%;border-radius:1rem 1rem 0 0;top:-1.4rem;left:0;z-index: 99; }
#banner2 ul{text-align: center;padding:0 4% 10px;}
#banner2 ul li{float:left;width:18%;margin-right:2.5%;}
#banner2 ul .last{margin-right:0;}
#banner2 ul li a{display:block;}
#banner2 ul li a img{width:100%;}
#banner2 ul li a p{font-size:1.3rem;color:#333;padding:10px 0;}

#banner3{padding:0 4%;height: 30px;line-height:30px;margin: 5px 0;border-radius:4px;}
#banner3 .bT1{font-size:1.3rem; ;color:#fd1134;}
#banner3 .bT2{font-size:1.2rem; ;color:#ff5000;}
#banner3 .bT3{font-size:1.2rem; ;color:#1a1a1a;padding: 0 6px;}
#banner3 .bT4{font-size:1.2rem; ;color:#1a1a1a;}

#banner4{padding:0 4%;}
#banner4 .container{padding: 0;}
#banner4 .bt{height: 33px;line-height: 33px;}
#banner4 .zy{font-size: 15px;color:#1a1a1a;}
#banner4 .gd a{color:#ff5000;font-size: 1rem;}
#banner4 .Cp{height: 163px;}
#banner4 .Cp img{width: 100%;}
#banner4 .Cp p{font-size: 1.2rem;color:#1a1a1a;text-align: center;height: 30px;line-height: 30px;}
#banner4 ul{height: 15px;line-height: 15px;}
#banner4 ul li{float: left;}
#banner4 .amount a{position: absolute;color: #666;line-height:15px;text-align: center;background: #f1f1f1;border: 1px solid #ccc;width: 15px;height: 15px;display: block;}
#banner4 .amount input{width: 25px;height: 15px;line-height: 15px;border: 1px solid #ccc;position: absolute;left:15px;text-align: center;}

/*注册页面*/
header .l_img{display:inline-block; }
header .l_img img{width:13px;}
header h4{color:#fff;font-size:1.7rem;line-height: 27px;}
#L_menu{margin-top:10px;padding: 0 4%;}
#L_menu .container,#L_menu2 .container{padding: 0;}
#L_menu .row,#L_menu2 .row{border-bottom: 1px solid #ccc;margin-bottom: 15px;height: 45px;line-height:43px;}
#L_menu .row input,#L_menu2 .row input{border: none;outline: none;}
#L_menu .row label,#L_menu2 .row label{margin-bottom: 0;font-weight: normal;}
#L_menu .row .yzm{width: 35%;}
#L_menu .row .yzm input{width:100%;}
#L_menu .row .yzs{ width: 15%;border: 1px solid #ccc;line-height:39px;height:39px;text-align: center;  padding: 0; }
#L_menu .xyb,#L_menu2 .xyb{height:auto;padding: 0 8%;border-bottom: transparent;margin-top: 60px;}
#L_menu .xyb .btn,#L_menu2 .xyb .btn{outline:none;background: #ff5000;color:#fff;font-size: 18px;font-weight: bold;}
#L_menu .xyb p{color:#666;text-align: right;height:38px;line-height:38px;}
#L_menu .xyb p span{color:#00afff;}
#L_menu .L_phone,#L_menu2 .L_phone{width: 100%;}
#L_menu .L_zero{width: 100px;height: 35px;display:block;background: #ff5000;line-height: 35px;color:#fff;text-align: center;border-radius: 5px;}

/*我的订单----已完成---订单详情*/
#L_menu .row .way{font-size: 15px;color:#333;font-weight: bold;}
#L_menu .row .way2{font-size: 14px;color: #ff5000;text-align: right;}
#L_menu .row .fp{color:#999;font-size: 12px;height: 24px;line-height: 24px;padding-left: 8%;}
#L_menu .row01{height: 28px;line-height: 25px;border: none;}
#L_menu .row01 p{width: 89px;text-align: right;}
#L_menu .row01 span{color:#ff5000;font-size: 14px;}
#L_menu .row01 span i{font-size: 12px;}
#L_menu .row .xia{height: 30px;line-height: 30px;font-size: 16px;color:#333;}
/*登录页面*/
#L_menu2{padding:0 4%;margin-top: 10px}
#L_menu2 .xyb  .L_em a{font-size:17px;color:#333;height: 50px;line-height: 50px; }

/*我的订单----全部订单*/
.banner_t{z-index:100;width: 100%;height:70px;left:0;}
.banner_0t{height: 10px;background: #eeeef3;}
.banner_t ul{width: 100%;}
.banner_t ul li{width: 20%;text-align: center;float: left;padding-top: 7px;}
.banner_t ul li a{display: inline-block;}
.banner_t ul li a img{width: 25px;height: 25px;}
.banner_t ul li span{color:#333;font-size:12px;display: block;height: 27px;line-height: 27px;}


.banner_t2 .h_sy{top:48px;right: 70px;}
.banner_t2 .container{padding: 0;}
.banner_t2 .container .row{padding: 0 4%}
.banner_t2 .stat{border-bottom:1px solid #ccc;}
.banner_t2 p{color:#ff5000;height: 30px;line-height: 30px;padding: 0 4%;}
.banner_t2 .stat2{height: 95px;}
.banner_t2 .stat2 span{color:#333;font-size: 16px;}
.banner_t2 .stat2 span i{color:#ff5000; }
.banner_t2 .C_pd{height: 84px;}
.banner_t2 .C_pd li{height:42px;line-height:42px;font-size: 16px;color: #333;}

.banner_t2 .stat2 .m_del{display: inline-block;height: 38px;line-height: 38px;color:#ff5000;}
.banner_t2 .stat2 .m_del2{display: inline-block;color:#fff;}
.banner_t2 .stat2 .m_del2 .btn{border-color: #ff5000;background: #ff5000;}

/*退款/退货*/
.banner_t2 .stat3{height: 143px;}
.banner_t2 .stat3 ul{height: 90px;padding: 0 4%}
.banner_t2 .stat3 ul li{height: 30px;line-height: 30px;font-size: 16px;color: #333;}
.banner_t2 .stat3 ul li span{color:#ff5000;}
.banner_t2 .stat3 a{display: block;}
.banner_t2 .stat3 a button{background: #ff5000;color:#fff;width: 100%;}

/*我的订单----已完成---订单详情*/
.serial{padding: 0 4%;}
.serial p{letter-spacing: 1px;height: 35px;line-height: 35px;font-size: 16px;color:#333;}
.serial p span{color:#ff5000;}
.banner_t3{z-index:100;width: 100%;height:50px;}
.banner_t3 .ban3,.banner_t6 .ban3{height: 5px;background: #eeeef3;}
.banner_t3 ul{height: 40px;line-height: 40px;padding: 0 4%;}
.banner_t3 ul li{float: left;}
.banner_t3 ul li span{display:inline-block;font-size: 16px;color:#333;}

.banner_s{z-index:100;width:100%;height:93px;}
.banner_s .banner_u{padding: 0 4%;}
.banner_s .banner_u2{height: 5px;background: #eeeef3;}
.banner_s ul{height: 30px;line-height: 30px;}
.banner_s ul li{float: left;font-size: 16px;color:#333;}
.banner_s ul .fir{padding-right: 25px;}
.banner_s .container{padding: 0;width: 100%}
.banner_s .container p{line-height: 28px;color:#333;font-size: 12px;}

.banner_s2  .row{height: 90px;border-bottom: 1px solid #eeeef3;}
.banner_s2  .row .fir2{color:#333;font-size:15px;line-height:30px;height: 60px}
.banner_s2  .row .fir3 ul{height: 30px;line-height: 30px;}
.banner_s2  .row .fir3 ul li{float: left;font-size: 16px;color:#333;}
.banner_s2  .row .fir3 ul li span{color:#ff5000;}

.dise_sl{height: 30px;line-height:30px;background: #ff5000;border-bottom-left-radius:8px;border-bottom-right-radius:8px;  }
.dise_sl p{color:#fff;font-size: 16px; }

/*我的订单----已完成---订单详情--订单进度*/
.banner_t4{height: 220px;padding: 10px 0;}
.banner_t4 .fir4{padding: 0 4%;}
.banner_t4 .fir4 li img{height: 200px;}
.banner_t4 .fir4 .fir04{margin-right: 23px;}
.banner_t4 .fir4 .gd{height: 66px;margin-bottom: 2px;}
.banner_t4 .fir4 p{font-size: 14px;color:#999;line-height: 33px;}
.banner_t4 .fir4 .p1{color:#ff5000;}
.banner_t4 .fir4 .p2{font-size: 12px;}
/*我的订单----代确认---待客服审核*/
.banner_t5{padding:10px 4%;}
.banner_t5 .ban5{text-align:center;height: 250px;line-height:250px;width: 100%;border: 1px solid #ccc;}
.banner_t5 .ban_zj{margin-top: 30px;}
.banner_t5 .ban_zj ul{width: 100%;height: 60px;margin-top: 15px;}
.banner_t5 .ban_zj ul li{float: left;width:25%;text-align: center;}
.banner_t5 .ban_zj ul li img{width: 60px;}
.banner_t5 .ban_zj p{height: 45px;line-height: 45px;font-size: 16px;color:#333;}
/*我的订单---订单详情---待用户确认*/
.banner_t6{height: 275px;}
.banner_t6 ul{height: 270px;padding: 5px 0;}

.top_older03 .y{padding:0 4%; height: 40px;line-height: 40px;}
.top_older03 ul{border-top: 1px solid #eeeef3;width: 100%;height:50px;}
.top_older03 ul li{float: left;padding:0 4%;height:50px;}
.top_older03 p{color:#333;font-size: 14px;line-height: 25px; }
.top_older03 .li_01{width:60%;border-right: 1px solid #eeeef3;}
.top_older03 .li_02{width:40%;}
.top_older03 .p_h{color:#808080;font-size:12px;}
.top_older03 .red{color:#ff5000;}
.top_older03 .red i{font-size: 12px;}
.m_con{height: 50px;line-height: 50px;}
.m_con p{font-size: 16px;color: #333;}
.m_con p .red{color:#ff5000;}
.m_con a{color:#fff;display: block;background: #ff5000;padding: 0;}
.m_con a button{border: none;outline:none;width: 100%;height:50px;background: #ff5000;}

/*购物车*/
.logo{padding: 60px 6% 0;}
.logo p{color:#333;font-size: 16px;height: 63px;line-height: 63px;}
.logo button{height:50px;width:100%;background:#ff5000;color:#fff;border: 0;outline: none;}
.m_returns{padding: 0 4%;font-size: 17px;color:#333;}
.m_returns .m_ret1{height: 41px;}
.m_returns .m_ret1 p{height: 36px;line-height: 36px;}
.m_returns .m_ret2{padding:20px 6%;height: 120px;}
.m_returns .m_ret2 form,.m_returns .m_ret2 form textarea{width: 100%;height:98px;border: 1px solid #ccc;background: #e6e6e6;}
.m_returns .m_ret2 form textarea{outline: none;}
.m_returns .son ul{height: 30px;}
.m_returns .son ul li{float: left;}
.m_returns .son ul .son1{width: 80px;text-align: right;font-size: 17px;color:#333;}
.m_returns .son ul .son2{height: 30px;width: 69%;margin-left: 10px;border-bottom: 1px solid #ccc;}
.m_returns .son ul .son2 input{border: none;outline: none;width: 100%;line-height: 28px;height:28px;}

/*拍照下单*/
.m_pic{height:204px;padding-top:25px; }
.m_pic .m_pic1{padding: 0 4%;text-align: center;}
.m_pic .m_pic1 .container .p1{padding:0 15%;height: 30px;line-height: 30px;}
.m_pic .m_pic1 .p1 a{color:#fff;font-size: 15px;}
.m_pic .m_pic1 .p1 a button{width: 100%;height: 30px;padding:0;border:none;outline: none;background: #ff5000;}
.m_pic .m_pic1 .p2{height: 140px;padding:17px 0; }
.m_pic .m_pic1 .p2 img{margin-bottom: 12px;}
.m_pic .m_pic1 .p2 .btn{background: #ff5000;padding: 2px 15px;color:#fff;border: none;outline: none;}

.m_pic2{height: 153px;border-bottom: 1px solid #ccc;padding:14px 14%;}
.m_pic2 p{height: 20px;line-height: 20px;color:#333;font-size: 12px;}
.m_pic2 .m_p2{width: 100%;height: 104px;border: 1px solid #ccc;}
.m_pic2 .m_p2 textarea{width: 100%;height: 100%;border: none;outline: none;}

.m_pic3{height: 89px;padding:4px 4%;border-bottom:1px solid #ccc;text-align: center;}
#L_menu3{height: 120px;padding:40px 0;}
#L_menu3 button{background: #ff5000;color:#fff;}

/*我的订单--筛选*/
.banner_t7{padding:10px 4%;}
.banner_t7 .bt .container{padding: 0;}
.banner_t7 .bt .row{width:100%;height: 45px;line-height: 45px;font-size: 16px;color:#333;}
.banner_t7 .bt .hunt,.banner_t7 .bt .hunt3{border-bottom: 1px solid #ccc;height: 45px;padding: 0;}
.banner_t7 .bt .hunt input,.banner_t7 .bt .hunt2 input{border: none;outline: none;width: 100%;height:40px;line-height: 40px; }

.banner_t7 .bt .hunt2{width: 100%;margin: 0;}
.banner_t7 .bt .row1 .row{height:70px;}
.banner_t7 .bt .row1 label{font-weight: 100;}
.banner_t7 .gain{line-height: 22px;font-size: 14px;}

/*优惠劵*/
.cou{height: 50px;padding:0 4%;line-height: 50px;font-size: 14px;}
.cou a{color:#333;}
.cou .cou1{background: #ff5000;}
.cou .cou1 a{color:#fff;}

.cou2{height: 100px;background: #eeeef3;padding: 0 4%;}
.cou2 .cou4{height: 100px;width:100%;background: #fff;}
.cou2 .cou4 .col-xs-4{width: 32%;padding: 0;}
.cou2 .cou4 .col-xs-8{width: 68%;padding: 0 5px;}
.cou2 .cou5{padding: 27px 0;}
.cou2 .cou5 li{height: 22px;line-height: 22px;color:#333;font-size: 12px;}

@media only screen and (min-width : 768px) {
    .cou2 .cou4 .col-xs-4{width:20%;}
    .cou2 .cou4 .col-xs-8{width:80%;}
    .cou2 .cou5{padding:17px 0;}
    .cou2 .cou5 li{height: 27px;line-height: 27px;font-size: 16px;}
}

.Cou{height: 100px;line-height: 100px;text-align: center;}
.Cou p{color:#333;font-size: 18px;}

/*订单确认--总*/
.der{height: 89px;padding: 0 4%;}
.der ul li{color:#333;font-size: 16px;height: 27px;line-height: 27px;}
.der ul li a{color:#ccc;}
.der ul .ac a:hover{color: #ff5000;}

.der2{height: 90px;line-height: 90px;padding: 0 4%;}
.der2 ul li{float: left;font-size: 14px;color: #333;}
.der2 ul li span{color: #ff5000;}

.der3{height: 77px;}
.der3_t{height: 35px;line-height: 35px;border-bottom: 1px solid #eeeef3;}
.der3_t ul{padding: 0 4%;}
.der3_t ul li{font-size: 16px;color:#333;}
.der3_b{height:42px;padding: 8px 4%;}
.der3_b .container{padding: 0;}
.der3_b .container .row{margin: 0;}
.der3_b .container .row .col-xs-3{padding: 0;width: 22%;margin-right:4%; }
.der3_b .container .row .col-xs-4{padding:0;width: 32%;}
.der3_b .btn-default{padding: 0;line-height: 21px;width: 100%;height: 23px;font-size: 12px;color: #333;}
.der3_b .btn-default:hover,.der3_b3 .btn-default:hover{outline:none;color: #fff;background-color: #ff5000;border-color: #ff5000;}
.der3_b .btn-default .pay{margin-right: 5px;}
.der3_b form{width: 100%;height: 145px;border: 1px solid #ccc;}


.der3_b2{height: 30px;line-height: 30px;border-top: 1px solid #eeeef3;}
.der3_b2 ul{padding: 0 4%;}
.der3_b2 ul li{font-size: 14px;color:#333;}
.der3_b2 ul li span{color:#ff5000;}
.der3_b2 ul li span i{font-size: 12px;}

.der3_b3{height: 75px;padding: 0 4%;}
.der3_b3 ul{margin-top: 5px;}
.der3_b3 ul li{float: left;margin-right: 24px;}
.der3_b3 ul li a{color:#ff5000;line-height: 32px;}

.der3_b02 ul{height: 30px;line-height: 30px;}
.der3_b02 .container{padding: 0;}
.der3_b02 .row{margin:5px 0 0 0;}
.der3_b02 .container .row .col-xs-4{padding: 0;width: 32%;}

.der3_b02 .btn-default{padding: 0;line-height: 25px;width: 100%;height: 26px;font-size: 12px;color: #333;}
.der3_b02 .btn-default:hover{outline:none;color: #fff;background-color: #ff5000;border-color: #ff5000;}





.der5{height: 30px;line-height: 30px;}
.der5 ul{padding: 0 4%;}
.der5 ul{font-size: 16px;color: #333;}

.der6{height: 153px;padding: 0 4%;}
.der6 .row{height:27px;line-height:26px;font-size: 16px;color: #333;}
.der6 .row p{width: 89px;text-align: right;}
.der6 .row span{color:#ff5000;}
.der6 .row span i{font-size: 12px;}
.der6 .area{height:44px;border-top: 1px solid #eeeef3;}
.der6 .area ul li{width:78%;font-size:16px;color:#333;float: left;line-height: 22px;}
.der6 .area ul .ps{height: 44px;width: 22%;text-align: center;}
@media only screen and (min-width :320px) {
    .der6 .area ul .ps{width: 25%;}
    .der6 .area ul li{width:75%;}

}