<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>企业待支付订单</title>
    <link href="lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<header class="fixed">
    <div class="container" id="home">
        <div class="row">
            <div class="col-xs-12 ac relative">
                <h4 class="relative">
                    企业待支付订单
                    <a href="#" class="absolute" style="display: block;left: 0;top:-1px;"><img src="images/L_zjt.png"
                                                                                               width="13"></a>
                </h4>
            </div>

        </div>
    </div>
</header>
<div id="kong"></div>
<section class="banner_t8 ff">
    <p>订单号：11293838290</p>
    <p>下单时间：2016-12-25 18:33:23</p>
    <p>下单子账号：11293838290</p>
    <p>子账号姓名：上官宝马</p>
</section>
<div class="banr2"></div>

<section class="der3">
    <ul class="R clearfix R1">
        <li class="Rer ar">收货人:</li>
        <li>上官宝马</li>
    </ul>
    <ul class="R clearfix R2">
        <li class="Rer ar">收货地址:</li>
        <li class="Rer2">北京 大兴区 六环内亦庄经济开发区地盛南街甲一号院3号楼c409</li>
    </ul>

</section>
<div class="banr2"></div>


<section class="der2">
    <div class="container">
        <div class="row">
            <div class="col-xs-3"><img src="images/h_dfkt.png" width="56"></div>
            <div class="col-xs-3"><img src="images/h_dfkt.png" width="56"></div>
            <div class="col-xs-3"><img src="images/h_dfkt.png" width="56"></div>
            <div class="col-xs-3" style="padding-right: 0">
                <ul>
                    <li> 共<span>10</span>件</li>
                    <li style="float: right;"><a href="#"><img src="images/L_yjt.png" width="11"></a></li>
                </ul>


            </div>

        </div>
    </div>
</section>
<div class="banr2"></div>


<section id="L_menu" style="margin-top: 3px;">
    <div class="container" style="width: 100%;">
        <div class="row R">
            <div class="col-xs-4 way">支付方式：</div>
            <div class="col-xs-8 way2"> 货到付款</div>
        </div>
        <div class="row R">
            <div class="col-xs-4 way">配送区域：</div>
            <div class="col-xs-8 way2"> 六环外</div>
        </div>
        <div class="row R">
            <div class="col-xs-4 way">上楼方式：</div>
            <div class="col-xs-8 way2"> 不需上楼</div>
        </div>
        <div class="row R">
            <div class="col-xs-4 way">配送时间</div>
            <div class="col-xs-8 way2">（预）10月04日 08:0-10:00</div>
        </div>
        <div class="row R">
            <div class="col-xs-4 way">订单备注：</div>
            <div class="col-xs-8 way2">无</div>
        </div>
        <div class="row R" style="border-bottom: 5px solid #eeeef3;">
            <div class="col-xs-4 way">发票信息：</div>
            <div class="col-xs-8 way2">北京百度网络科技有限公司</div>
        </div>
        <div class="row R" style="height:146px;font-size: 16px;color:#333;">
            <div style="height: 112px;border-bottom: 1px solid #ff5000;">
                <div class="row01">
                    <div class="col-xs-5"><p>商品总金额:</p></div>
                    <div class="col-xs-7 ar"><span>￥50.<i>00</i></span>元</div>
                </div>
                <div class="row01">
                    <div class="col-xs-5"><p>上楼费:</p></div>
                    <div class="col-xs-7 ar"><span>￥50.<i>00</i></span>元</div>
                </div>
                <div class="row01">
                    <div class="col-xs-5"><p>配送费:</p></div>
                    <div class="col-xs-7 ar"><span>￥50.<i>00</i></span>元</div>
                </div>
                <div class="row01">
                    <div class="col-xs-5"><p>优惠金额:</p></div>
                    <div class="col-xs-7 ar"><span>-￥50.<i>00</i></span>元</div>
                </div>
            </div>
            <div class="row01" style="height: 35px;line-height: 35px;">
                <div class="col-xs-5"><p>实付金额:</p></div>
                <div class="col-xs-7 ar"><span>￥350.<i>00</i></span>元</div>

            </div>
        </div>
        <div class="row R" style="height:50px;padding: 10px 4%;">
            <p class="xia ac"> 下单时间：2016-10-02 17:50:43</p>
        </div>
        <div class="row bill2">
            <div class="col-xs-6"  ng-click="Remove()">
                <a href="#">
                    <button type="button" class="btn" style="width: 100%;background: #ff5000;">作废</button>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="#">
                    <button type="button" class="btn" style="width: 100%;background: #ff5000;">去支付</button>
                </a>
            </div>
        </div>
    </div>
</section>

<div ng-show="bj_m2" class="bj_Mask" style="display: block;">
    <div class="bj_tc" style="height: 187px;">
        <div class="suo">
            <img class="qux" src="images/h_del.png" width="55">
        </div>
        <p>确定要废除订单吗？</p>
        <div class="m_cancel">
            <div class="col-xs-6 canc01" ng-click="remind()">
                <a class="qux" href="#">再想想</a>
            </div>
            <div class="col-xs-6" ng-click="remind()">
                <a href="#">确定废除</a>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
        $scope.Remove = function () {
            $scope.bj_m2 = true;
        }
        $scope.remind= function () {
            $scope.bj_m2 = false;
        }
    });
</script>

</body>
</html>